@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
body{
    height: 100vh;
    width: 100vw;
    background-color:#E5E5E5;
    margin: 0%;
    padding: 0%;
    


    }
.acontainer{
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    
    }
.ahalfpage {
    position: absolute;
    width: 50%;
    background-color: #2468EB;
    height: 100%;
    bottom: 0px;
    overflow: hidden;

    }
.abox{
    position: absolute;
    top: 20%;
    left: 15%;
    width: 468px;
    height: 418px;
    background-color: #2468EB;        
    }
.apolygon1{
        position: absolute;
        left: 92px;
        bottom: 58.9px;
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 50px solid #2468EBCF;
                  

        }
.atrack{

    Font-family: Noto Sans;
    Font-style: SemiBold;
    Font-size: 48px;
    Line-height: 65px;
    Line-height: 100%;
    Align: Left;
    Vertical-align: Top;
    Fill: Solid;
    color: #FFFFFF;
    }
.atodo{
    position: absolute;
    background-color: #FFFFFF;
    left: 0px;
    top: 221px;
    width: 144px;
    height: 105px;
    border-radius: 5px;
    }
.aimg1{
    position: absolute;
    width: 15.34px;
    height: 12.77px;
    left: 10.66px;
    top: 12px;
    background: #4673E41A;
    Fill: Solid
    rgba(70, 115, 228, 0.1);
    }

.eclipse26{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 8px;
    top: 35px;
    background: #4673E41A;
    border-radius: 50%;    

    }
.atext{
    position: absolute;
    width: 46px;
    height: 16px;
    top: 45px;
    left: 54px;
    color: #5F5F60;
    Font-family: Quattrocento Sans;
    Font-style: Bold;
    Font-size: 14px;
      
     }
.anotes{
    position: absolute;
    height: 105px;
    width: 144px;
    left: 162px;
    top: 221px;
    border-radius: 5px;
    background: #FFFFFF;

     } 
.atext2{
    position: absolute;
    width: 43px;
    height: 16px;
    top: 45px;
    left: 50px;
    color: #5F5F60;
    Font-family: Quattrocento Sans;
    Font-style: Bold;
    font-size: 14px;
    
    }       
.abookmarks{
    position: absolute;
    background: #FFFFFF;
    height: 105px;
    width: 144px;
    left: 324px;
    top: 221px;
    border-radius: 5px;

    }
.atext3{
    position: absolute;
    left: 54px;
    top: 45px;
    width: 84px;
    height: 16px;
    Font-family: Quattrocento Sans;
    Font-style: Bold;
    Font-size: 14px;
    color: #5F5F60;
    ;
    }
.aeclipse27{
    position: absolute;
    width: 35px;
    height: 35px;
    background: #4673E41A;
    top: 35px;
    left: 8px;
    border-radius: 50%;
}
.aimg2{
    position: absolute;
    top: 12px;
    left: 10.66px;
}
.apolygon2{
    position: absolute;
    top: 44px;
    left: 22px;
}
           
.aimg3{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 35px;
    left: 8px;
    background: #4673E41A;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.acontent{
    position: absolute;
    width: 456px;
    height: 66px;
    top: 352px;
    left: 12px;
    color: #FFFFFF;
    Font-family: Rubik;
    Font-style: Regular;
    Font-size: 14px;

    
}
.aeclipse21{
    position: absolute;
    left: 23px;
    bottom: 62px;
            }
.aellipse19{
    top: -26px;
    left: -27px;

}
.aellipse20{
    position: absolute;
    bottom: -30px;
    left: 7px;
            }

.aloginpage{
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0px;
    background-color: #E5E5E5;
    

}

.aellipse25{
    position: absolute;
    left: 80px;
    top: 30px;
    
}
.athree60{
    position: absolute;
    width: 94px;
    height: 23;  
    left: 70px;
    top: 30px;
    color: #2468EB;
    Font-family: Rubik;
    Font-style: Medium;
    Font-size: 24px;


}
.acreateaccount{
    position: absolute;
    width: 181px;
    height: 25px;
    left: 0PX;
    top: 65px;
    color: #000000;
    Font-family: Rubik;
    Font-style: Medium;
    Font-size: 24px;
}
.logs{
    position: absolute;
    width: 118px;
    height: 13px;
    left: 100px;
    top: 140px;
    color: #979BA9;
    Font-family: Rubik;
    Font-style: Regular;
    Font-size: 14px;
}
.athree60{
    position: absolute;
    width: 94px;
    height: 23;  
    left: 150px;
    top: 60px;
    color: #2468EB;
    Font-family: Rubik;
    Font-style: Medium;
    Font-size: 24px;

}
.acreateaccount{
    position: absolute;
    width: 181px;
    height: 25px;
    left: 100PX;
    top: 94px;
    color: #000000;
    Font-family: Rubik;
    Font-style: Medium;
    Font-size: 24px;
}
#aemail{
    position: absolute;
    width: 350px;
    height: 25px;
    left: 100px;
    top: 195px;
    color: #7D8089;
    Font-family: Roboto;
    Font-style: Medium;
    Font-size: 14px;
    background-color: rgba(36, 104, 235, 0.03);
    border: none;

}
#email_msg{
    position: absolute;
    left: 100px;
    top: 220px;
}
#alemail{
    position: absolute;
    left: 100px;
    top: 175px;
    Font-family: Roboto;
    Font-style: Medium;
    Font-size: 14px;
    color: #7D8089;
}

#apsw{
    position: absolute;
    width: 350px;
    height: 25px;
    top: 260px;
    left: 100px;
    color: #7D8089;
    Font-family: Roboto;
    Font-style: Medium;
    Font-size: 14px;
    background-color: rgba(36, 104, 235, 0.03);
    border: none;
}
#password_msg{
    position: absolute;
    top: 285px;
    left: 100px;
}
#alpsw{
    position: absolute;
    left: 100px;
    top: 235px;
    Font-family: Roboto;
    Font-style: Medium;
    Font-size: 14px;
    color: #7D8089;
}

#sigIn_btn{
    position: absolute;
    width: 354PX;
    height: 30PX;
    top: 325PX;
    left: 100PX;
    background-color: #2468EB;
    border: none;
}

.arectangle148{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 354px;
    height: 30px;
    top: 390px;
    left: 100px;
    background-color: rgba(36, 104, 235, 0.12);
    color: #2468EB;

}

.anotyetsign{ 
    position: absolute;
    width: 275px;
    height: 12px;
    left: 100px;
    top: 440px;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 14px;


}
a{
    text-decoration: none;
}
.aprivacy{
    position: absolute;
    top: 470px;
    left: 100px;
    width: 221px;
    height: 12px;
    color: #979BA9;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 14px;
}
